//Définition des breakpoints via une MAP
$breakpoints: (
  'small' : '0px',
  'medium': '800px',
  'large': '1000px',
  'huge': '1200px',
);

//Mixin qui permet d'utiliser facilement les mediaQueries
@mixin respond-to($breakpoint) {
    // Retrieves the value from the key
    $value: map-get($breakpoints, $breakpoint);
    
    //Si la clé existe dans la MAP
    @if $value != null {
        //Retourner le media queries avec la valeur correspondant à la clé
        @media (min-width: $value) {
        @content;
        }
    }
    
    // If the key doesn't exist in the map
    @else {
        @warn "Problème `#{$breakpoint}`. "
            + "Vérifier que  `$breakpoints` est définit dans la map.";
    }
}

// RESET //

a, a:link, a:visited, a:focus, a:hover, a:active{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.img{
    width: 100%;        
}

//Mixin qui permet d'inclure les propriétés qui définisse une ligne avec flexbox
@mixin ligne() {
    display: flex;
    width: 100vw;
  }

//SCSS//
$darkGreen: #416c24;
$lightGreen: #7bb51d;
$yellow: #f4c303;


@include respond-to('small') {
    //Header
    header{
        background-color: $darkGreen;
    }
    .linksHeader{  
        @include ligne;    
        justify-content: space-between;
        padding:20px 25px 0px 25px;
        h4{
            color: white;
            font-size:14px;
        }
    }
    .bloc{
        display: flex;
    }
    .logoHeader{
        @include ligne;
        justify-content: center;
    }
    .imgLogo{
        width: 80vw; 
    }
    .sloganHeader{
        @include ligne;
        justify-content: center;
        h1{
            font-size: 24px;
            color:white;
        }
    }
    .menu {
        $menuHeight: 60px;
        @include ligne;
        height: $menuHeight;
        justify-content: space-evenly;
        .cadre_jaune_menu{
            justify-content: center;
            align-items: center;
            background-color: $yellow;
            flex-grow: 2;
        }
        .cadre_vert_menu{
            justify-content: center;
            align-items: center;
            background-color: $lightGreen;
            flex-grow: 2;
        }
        h2{
            
            font-size: 15px;
            a {
                color: black;
            }
        }
        .logoBio{
            width: $menuHeight;
        } 
    }

    .row{
        @include ligne;
    }
    .cadre_vert{
        background-color: $darkGreen;
    }

    

    
}

@include respond-to('medium') {
    body{
        background-color: red;  
    }     
}
@include respond-to('large') {
    body{
        background-color: green;  
    }     
}
@include respond-to('huge') {
    body{
        background-color: brown;  
    }     
}





